.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #fcfdfe;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: #ec5863;
    transition: background-color 0.3s ease 0s;
}

.button:hover {
    background-color: #f18b92;
}

.button_blue {
    background-color: #4285f4;
}

.button_blue:hover {
    background-color: #95b9f1;
}