.get-started {    
    background-color: #FAFBFD;    
    padding: 150px 0px 50px 0px;
}

.get-started__container {
    flex: flex;
    flex-wrap: wrap;

}

.get-started__content {
    flex: 0 1 50%;
}

.get-started__block-text {}

.block-text {}

.block-text__title {}

.block-text__title--blue {}

.block-text__text {}

.block-text__button {}

.button {}

.get-started__video {}

.video-get-started {}

.video-get-started__icon {}

.video-get-started__body {}

.video-get-started__title {}

.video-get-started__text {}

.get-started__image {
    flex: 0 1 50%;
}